.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.goods{
    max-width: 1700px;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* padding-left: 30px;
    padding-right: 30px; */
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
  }
  @media (max-width: 565px) {
    .goods{
        gap: 10px;
        margin-left: 5px;
        margin-right: 5px;
      }
  }
  @media (max-width: 540px) {
    .goods{
        gap: 20px;
        margin-left: 5px;
        margin-right: 5px;
      }
  }
  @media (max-width: 380px) {
    .goods{
        gap: 10px;
        margin-left: 0px;
        margin-right: 0px;
      }
  }
  @media (max-width: 365px) {
    .goods{
        gap: 5px;
        margin-left: 0px;
        margin-right: 0px;
      }
  }