.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.goods{
    max-width: 1700px;
    display: flex;
    justify-content: center;
    gap: 30px;
    /* padding-left: 30px;
    padding-right: 30px; */
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
  }
  /* .pagination-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  } */
  
  .pagination {
    cursor: pointer;
    background-color: #121212;
    /* width: 200px;
    height: 30px; */
    border: 1px solid rgb(60, 60, 60);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
    padding: 10px;
    border-radius: 3px;
    color: #4b4b4b;
  }
  
  .pagination-item {
    margin: 0 5px;
  }
  
  .pagination-link {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination-link:hover {
    background-color: #f0f0f0;
    color: #fffdfd;
  }
  
  .active {
    /* background-color: #007bff; */
    color: #ffffff;
  }
  @media (max-width: 565px) {
    .goods{
        gap: 10px;
        margin-left: 5px;
        margin-right: 5px;
      }
  }
  @media (max-width: 540px) {
    .loader{
      width:375px ;
      height: 200px;
    }
    .goods{
        gap: 20px;
        margin-left: 5px;
        margin-right: 5px;
      }
  }
  @media (max-width: 380px) {
    .loader{
      width:340px ;
      height: 200px;
    }
    .goods{
        gap: 10px;
        margin-left: 0px;
        margin-right: 0px;
      }
  }
  @media (max-width: 365px) {
    .goods{
        gap: 5px;
        margin-left: 0px;
        margin-right: 0px;
      }
  }