.categories{
    margin-left: 10px;
    margin-right: 10px;
    max-width:  1000px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
  .categories2{
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .categories_Item{
    font-size: 15px;
    cursor: pointer;
    /* border-radius: 5px; */
    padding: 10px;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.856);
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    border: 1px solid rgb(40, 40, 40);
  }
  @media(max-width:565px){
    .categories_Item{
      padding: 8px;
    }
    .categories{
      gap: 0px;
    }
  }
  .active{
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    color: #565656;
    text-decoration: none;
    list-style: none;
    border: 1px solid rgb(61, 61, 61);
  }
  